{% extends 'base.html' %} <!--get all content from base.html-->


<!--==Title========================-->
{% block title %}Profile{% endblock title %}


<!--==Main-Class====================-->
{% block othermain %}change-main{% endblock othermain %}

<!--==Nav-logo=====================-->
{% block navlogo %}
{% load static %}
{% static 'images/real_estate_advisor_system_blackLogo.png' %}
{% endblock navlogo %}
<!--==Nav-Login-Button==============-->
{% block navuser %}
    <!--==User=====================================-->
    <div class="nav-user">

        <input type="checkbox" class="user-icon-checkbox" id="user-icon">
        <label for="user-icon" class="user-icon">
            <img src="{{user.profile_img}}"/>
        </label>

        <div class="user-drop-menu">
            <a href="{% url 'profile_view' %}" class="nav-drop-box"><i class="fa-solid fa-user"></i> Profile</a>
            <a href="{% url 'logoutUser' %}" class="nav-logout">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

    </div>
{% endblock navuser %} 


<!--==Body=========================-->
{% block body %}




    <section id="profile">
    


    <section id="change-password">


        <h2>Change Password?</h2>

        <form action="" method="post" novalidate>

            {% csrf_token %}
            <div class="profile-pass-box">
                <label>Old Password<span>*</span></label>
                {{form2.old_password}}
            </div>
            <div class="profile-pass-box">
                <label>New Password<span>*</span></label>
                {{form2.new_password1}}
            </div>
            <div class="profile-pass-box">
                <label>Repeat Password<span>*</span></label>
                {{form2.new_password2}}
            </div>

            <!--error-->
            <span class="change-password-errors">{{form2.errors}}</span>

            <input type="submit" value="Change Password"/>

            <!--forget-password-->
            <a href="{% url 'reset_password' %}" class="changepass-forget-btn">Forget Password?</a>    

        </form>
    </section>


    



    </section>

    {% endblock body %}