{% extends 'dashboard-base.html' %} <!--get all content from base.html-->


{% block dash_advertisement %}active{% endblock dash_advertisement %}<!--active-button-->


<!--***Content************************-->
{% block dashboard_content %}

<div class="dashboard-details">
    <!--heading-->
    <h1>Delete Ad <i class="fa-solid fa-trash"></i></h1>

    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
       <strong>Are You Sure?</strong>
        
        <button style="background-color:#f31212; max-width:250px; width:100%; boder:none; outline:none;" >Delete</button>
    </form>

</dv>

{% endblock dashboard_content %}