{% extends 'dashboard-base.html' %} <!--get all content from base.html-->


{% block dash_pages %}active{% endblock dash_pages %}<!--active-button-->


<!--***Content************************-->
{% block dashboard_content %}

<div class="dashboard-details">
    <!--heading-->
    <h1>Edit Page <i class="fa-solid fa-pen-to-square"></i></h1>

    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
        {{form.as_p}}
        
        <button>Update</button>
    </form>

</dv>

{% endblock dashboard_content %}